<a href="/{{ pathname }}/{{ doc.name }}" class="web-list-item transaction-list-item">
	<div class="col-sm-4" style='margin-top: -3px;'>
		<span class="indicator-pill small {{ doc.indicator_color or ("blue" if doc.docstatus==1 else "darkgray") }}">
		{{ doc.name }}</span>
		<div class="small text-muted transaction-time"
			title="{{ frappe.utils.format_datetime(doc.modified, "medium") }}">
			{{ frappe.utils.global_date_format(doc.modified) }}
		</div>
	</div>
	<div class="col-sm-5">
		<div class="small text-muted items-preview ellipsis ellipsis-width">
			{{ doc.items_preview }}
		</div>
	</div>
	{% if doc.get('grand_total') %}
		<div class="col-sm-3 text-right bold">
			{{ doc.get_formatted("grand_total") }}
		</div>
	{% endif %}
</a>
